@import url('../css/fonts.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --Abel: 'Abel', cursive;
    --Limelight: 'Limelight', cursive;
    --Sigmar: 'Sigmar', cursive;
    --Stint: 'Stint', cursive;
    
    
    --light-green: #38F50E;
    --light-blue: #0794F6;
    
    --grass: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

/* global clasess  */
a{
    text-decoration: none;
    color: var(--light-green);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

h1{
    font-size: 2.5rem;
    font-family: var(--Limelight);
}

h3{
    font-size: 1.3rem;
    font-family: var(--Abel);
}

h2{
    color: var(--light-green);
}

button{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    /*font-family: */;
    cursor: pointer;
}

.container{
    margin: 0 5vw;
}

p{
    color: var(--light-blue);
}
/*---------------------------------------------------- */

/*nav bar*/

.nav{
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
    flex-direction: column;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 95%;
    cursor: pointer;
    
}

.nav .nav-menu .menu{
    left: 0;
    width: 20%;
}

.nav .toggle-collapse .toggle-icon i{
    font-size: 1.4rem;
    color: var(--light-green);
}

.collapse{
    height: 17rem;
    
}


.nav .toggle-collapse .toggle-icon{
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem 0;
    
}

.nav .nav-items{
    list-style-type: none;
    font-family: var(--Stint);
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--light-blue);
}

.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.8rem;
    font-family: var(--Limelight);
    padding: 1rem;
    display: block;
}
/*--------------nav--------------------*/

/*----------main-----------------*/
* {
    box-sizing: border-box;

}

main {
    font-family: var(--Abel);
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -10spx 0 50px;
}

.container1 h1 {
	font-weight: bold;
	margin: 0;
}

.container1 h2 {
	text-align: center;
}

.container1 p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
    color: var(--light-green);
}

span {
	font-size: 12px;
}

.container1 a {
	color: var(--light-green);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container1 button {
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background-color: var(--light-green);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container1 button:active {
	transform: scale(0.95);
}

.container1 button:focus {
	outline: none;
}

.container1 button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container1 form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container1 input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container1 {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container1.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container1.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container1.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--light-blue);
	background: var(--light-blue);
	background: var(--light-blue);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container1.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
	transform: translateX(20%);
}



/*----------main-----------------*/

/*----------------footer-------------*/
 
footer.footer{
    height: 100%;
    background: #3fde44;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
} 

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem
}

footer.footer .container .about-us h2{
    color: white;
}

footer.footer .container .about-us p{
    color: white;
}

footer.footer .container .newsletter p{
    color: white;
}

footer.footer .container .follow p{
    color: white;
}

footer.footer .newsletter .form-element{
    background: #3fde44;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 0.8rem;
    width: 75%;
}
    
footer.footer .newsletter .form-element .email-btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    height: 5px;
    background: var(--light-blue);
    align-items: center;
    align-content: center;
    text-align: center;
        
}

    


footer.footer .follow div i{
    padding: 0.4rem;
}

footer.footer .rights{
    justify-content: center;
}

/*------------footer-------------------*/

